---
layout: default
title: Blog
---


<h1>Latest Posts</h1>

<div class="outer-wrapper">
  <div class="wrapper">
  {% for post in site.posts %}
    <div class="{{ post.class }}">
      
      {% if post.custom_css %}
        {% for stylesheet in post.custom_css %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css">
        {% endfor %}
      {% endif %}

      <h2>{{ post.title }}</h2>
      
      <p>{{ post.date | date_to_string }}</p>
      
      {{ post.excerpt }}
    </div>
  {% endfor %}
</div>