{% comment %} Assigning variable based on page attribute {% endcomment %}

{% if page.title == "One" %}
    {% assign chap_min = 0 %}
    {% assign chap_max = 18 %}
{% elsif page.title == "Two" %}
    {% assign chap_min = 19 %}
    {% assign chap_max = 100 %}
{% elsif page.title == "Three" %}
    {% assign chap_min = 19 %}
    {% assign chap_max = 100 %}
{% elsif page.title == "Four" %}
    {% assign chap_min = 19 %}
    {% assign chap_max = 100 %}
{% elsif page.title == "Five" %}
    {% assign chap_min = 19 %}
    {% assign chap_max = 100 %}
{% elsif page.title == "Six" %}
    {% assign chap_min = 19 %}
    {% assign chap_max = 100 %}
{% elsif page.title == "Seven" %}
    {% assign chap_min = 19 %}
    {% assign chap_max = 100 %}
{% endif %}

<div class="outer-wrapper">
  <div class="wrapper">
  {% assign sorted_posts = site.posts | sort:"entry_number" %}
  {% for post in sorted_posts %}
    {% if post.entry_number >= chap_min and post.entry_number <= chap_max %}
      <div class="{{ post.length_layout }} {{ post.custom_css }} e_block" id="entry_{{ post.entry_number }}">
        <div class="e_subblock entry_div" id="entry_sb_{{ post.entry_number }}">

            {% if post.file %}
                {% if post.file contains '.webm' %}
                    <video source src="{{ post.file }}" type="video/webm" class="chap_video" controls autoplay loop muted>
                        <p>Your browser doesn't support HTML5 video.</p>
                    </video>
                {% elsif post.file contains '.mp4' %}
                    <video source src="{{ post.file }}" type="video/mp4" class="chap_video" controls autoplay loop muted>
                        <p>Your browser doesn't support HTML5 video.</p>
                    </video>
                {% else %}
                    <div class="img_div">
                        <img src="{{ post.file }}">
                    </div>
                {% endif %}
            {% endif %}

            <h2 class="e_title">{{ post.entry_number }}.&nbsp;{{ post.title }}</h2>
            
            <div class="e_metadata">
                <h5 class="date">
                    {% if post.url contains "untitled" %}
                        --
                    {% elsif post.url %}
                        {{ post.date | date: "%b. %d &nbsp;" }}
                    {% endif %}
                </h5>
                <h5 class="time">
                    {% if post.url contains "untitled" %}
                    {% elsif post.url %}
                        {{ post.date | date: "%H" }}
                    {% endif %}
                    <span class="time_colon">:</span>
                    {% if post.url contains "untitled" %}
                        --
                    {% elsif post.url %}
                        {{ post.date | date: "%M" }}
                    {% endif %}
                </h5>
                <h4 class="location">{{ post.location }}</h4>
            </div>
                
            <div class="content_div">{{ post.content }}</div>
        
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<script>
// Get the element
var elem = document.querySelector('#entry_sb_12');
// Create a copy of it
var clone = elem.cloneNode(true);
// Update the ID and add a class
clone.id = 'entry_sb_12b';
clone.classList.add('rotate_entry_b');
// Inject it into the DOM
elem.after(clone);

var elem = document.querySelector('#entry_sb_12');
// Create a copy of it
var clone = elem.cloneNode(true);
// Update the ID and add a class
clone.id = 'entry_sb_12c';
clone.classList.add('rotate_entry_c');
// Inject it into the DOM
elem.after(clone);
</script>