{% if page.title == "Chapitre Un" %}
    {% assign chap_min = 0 %}
    {% assign chap_max = 0 %}
{% elsif page.title == "Chapitre Deux" %}
    {% assign chap_min = 1 %}
    {% assign chap_max = 18 %}
{% elsif page.title == "Chapitre Trois" %}
    {% assign chap_min = 19 %}
    {% assign chap_max = 42 %}
{% elsif page.title == "Chapitre Quatre" %}
    {% assign chap_min = 43 %}
    {% assign chap_max = 55 %}
{% elsif page.title == "Chapitre Cinq" %}
    {% assign chap_min = 56 %}
    {% assign chap_max = 78 %}
{% elsif page.title == "Chapitre Six" %}
    {% assign chap_min = 79 %}
    {% assign chap_max = 98 %}
{% elsif page.title == "Chapitre Sept" %}
    {% assign chap_min = 99 %}
    {% assign chap_max = 99 %}
{% endif %}

<link rel="stylesheet" href="assets/css/styles.scss">
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>

<div class="chapter_nextprev_menu">
    <div class="next_chapter"> 
        
    </div>
    <div class="prev_chapter">      
    </div>
</div>

<div class="outer-wrapper">
  <div class="wrapper">
  {% assign sorted_posts = site.posts | sort:"entry_number" %}
  {% for post in sorted_posts %}
    {% if post.entry_number >= chap_min and post.entry_number <= chap_max %}
      <div class="{{ post.length_layout }} {{ post.custom_css }} {{ post.interaction }} e_block" id="entry_{{ post.entry_number }}">
        <div class="interaction-box"></div>
        <div class="e_subblock entry_div" id="entry_sb_{{ post.entry_number }}">

            {% if post.file %}
                {% if post.file contains '.webm' %}
                    <video source src="{{ post.file }}" type="video/webm" class="chap_video" controls autoplay loop muted>
                        <p>Your browser doesn't support HTML5 video.</p>
                    </video>
                {% elsif post.file contains '.mp4' %}
                    <video source src="{{ post.file }}" type="video/mp4" class="chap_video" controls autoplay loop muted>
                        <p>Your browser doesn't support HTML5 video.</p>
                    </video>
                {% else %}
                    {% if post.image_css %}
                        <div class="img_div {{ post.image_css }}">
                            <div class="interaction-box"></div>
                            <img src="{{ post.file }}">
                        </div>
                        <div class="img_div {{ post.image_css }}">
                            <div class="interaction-box"></div>
                            <img src="{{ post.file }}">
                        </div>
                    {% else %}
                        <div class="img_div">
                            <img src="{{ post.file }}">
                        </div>
                    {% endif %}
                {% endif %}
                {% if post.file_2 %}
                    <img src="{{ post.file_2 }}">
                {% endif %}
                {% if post.file_3 %}
                    <img src="{{ post.file_3 }}">
                {% endif %}
                {% if post.file_4 %}
                    <img src="{{ post.file_4 }}">
                {% endif %}
                {% if post.file_5 %}
                    <img src="{{ post.file_5 }}">
                {% endif %}
            {% endif %}

            <h2 class="e_title">{{ post.entry_number }}.&nbsp;{{ post.title }}</h2>
            
            <div class="e_metadata">
                <h5 class="date">
                    {% if post.url contains "untitled" %}
                        --
                    {% elsif post.url %}
                        {{ post.date | date: "%b. %d &nbsp;" }}
                    {% endif %}
                </h5>
                <h5 class="time">
                    {% if post.url contains "untitled" %}
                    {% elsif post.url %}
                        {{ post.date | date: "%H" }}
                    {% endif %}
                    <span class="time_colon">:</span>
                    {% if post.url contains "untitled" %}
                        --
                    {% elsif post.url %}
                        {{ post.date | date: "%M" }}
                    {% endif %}
                </h5>
                <h4 class="location">{{ post.location }}</h4>
            </div>
                
            <div class="content_div">{{ post.content }}</div>
        
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<script>
// Get the element
var elem = document.querySelector('#entry_sb_12');
// Create a copy of it
var clone = elem.cloneNode(true);
// Update the ID and add a class
clone.id = 'entry_sb_12b';
clone.classList.add('rotate_entry_b');
// Inject it into the DOM
elem.after(clone);

var elem = document.querySelector('#entry_sb_12');
// Create a copy of it
var clone = elem.cloneNode(true);
// Update the ID and add a class
clone.id = 'entry_sb_12c';
clone.classList.add('rotate_entry_c');
// Inject it into the DOM
elem.after(clone);
</script>
