
<div class="splash_bg">
    <div class="splash_content">
        <div class="splash_text">
            <h3>{{ page.title }}</h3>
            <div class="splash_svg">
                <img src="{{ page.SVG }}" alt="" id="splash-svg-{{ page.chap_num }}">
            </div>
            <div class="splash_metadata">
                <h5>CHAPTER {{ page.chap_num }} OF 7</h5>
                <h5>{{ page.entries }} ENTRIES</h5>
            </div>
        </div>
        <img src="{{ page.image }}" alt="" class="splash_image" id="splash-{{ page.chap_num }}"> 
    </div>
    <div class="splash_gradient"></div>
</div>