{% comment %} Assigning variable based on page attribute {% endcomment %}
{% if page.title == "One" %}
    {% assign chap_min = 0 %}
    {% assign chap_max = 18 %}
{% elsif page.title == "Two" %}
    {% assign chap_min = 19 %}
    {% assign chap_max = 100 %}
{% elsif page.title == "Three" %}
    {% assign chap_min = 19 %}
    {% assign chap_max = 100 %}
{% elsif page.title == "Four" %}
    {% assign chap_min = 19 %}
    {% assign chap_max = 100 %}
{% elsif page.title == "Five" %}
    {% assign chap_min = 19 %}
    {% assign chap_max = 100 %}
{% elsif page.title == "Six" %}
    {% assign chap_min = 19 %}
    {% assign chap_max = 100 %}
{% elsif page.title == "Seven" %}
    {% assign chap_min = 19 %}
    {% assign chap_max = 100 %}
{% endif %}

<div class="outer-wrapper">
  <div class="wrapper">
  {% for post in site.posts %}
    {% if post.entry_number >= chap_min and post.entry_number <= chap_max %}
      <div class="{{ post.class }} block">
        
        {% if post.length_layout %}
          {% for stylesheet in post.length_layout %}
          <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css">
          {% endfor %}
        {% endif %}

        {% if post.custom_css %}
          {% for stylesheet in post.custom_css %}
          <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css">
          {% endfor %}
        {% endif %}

        <h2>{{ post.entry_number }}.&nbsp;{{ post.title }}</h2>
        
        <h5 class="entry_time">
        {% if post.url contains "untitled" %}
            --:--
        {% elsif post.url %}
            {{ post.date | date: "%b. %d &nbsp; %H:%M" }}
        {% endif %}
        </h5>

        <h4>{{ post.location }}</h4>

        {% if post.file %}
          - <img src="{{ post.file }}" alt="alt test">
        {% endif %}
        
        {{ post.excerpt }}
      </div>
    {% endif %}
  {% endfor %}
</div>