<nav id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Rite of Spring</a>  
    <ul id="mySidebarList">
    {% for item in site.data.navigation.items %}
      <div id="SidebarLink">
        <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %} onclick="closeNav()">
          <h5>{{ item.range }}</h5>
          <h4>{{ item.name }}</h4>
          <h3>{{ item.chapter }}</h3>
        </a>
      </div>
    {% endfor %}
    </ul>
</nav>
<div id="main">
  <button class="openbtn" onclick="openNav()">Rite of Spring</button>
</div>

{% assign chapters = site.data.navigation %}
{% for chapter in chapters %}
  {% if chapter.title == item.name %}
    {% assign currIndex = forloop.index0 %}
    {% assign prevIndex = currIndex | minus: 1 %}
    {% assign nextIndex = currIndex | plus: 1 %}
    {% assign chapterIndexLength = forloop.length | minus: 1 %}
    <div class="page-navigation">
      {% if currIndex == 0 %}
        <a class="next0" href="{{ site.url }}{{ page.url }}{{ chapters[nextIndex].url }}">{{ chapters[nextIndex].title }}Current page</a>
      {% elsif currIndex < chapterIndexLength and currIndex != 0 %}
        <a class="prev" href="{{ site.url }}{{ page.url }}{{ chapters[prevIndex].url }}">Previous page{{ chapters[prevIndex].title }}</a>
        <a class="next" href="{{ site.url }}{{ page.url }}{{ chapters[nextIndex].url }}">{{ chapters[nextIndex].title }}Next page</a>
      {% elsif currIndex == chapterIndexLength %}
        <a class="prev" href="{{ site.url }}{{ site.baseurl }}{{ chapters[prevIndex].url }}">&laquo; {{ chapters[prevIndex].title }}</a>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}

{# {% assign articles = site.posts %}
{% for article in articles %}
  {% if article.title == page_title %}
    {% assign currIndex = forloop.index0 %}
    {% assign prevIndex = currIndex | minus: 1 %}
    {% assign nextIndex = currIndex | plus: 1 %}
    {% assign articleIndexLength = forloop.length | minus: 1 %}
    <div class="page-navigation">
      {% if currIndex == 0 %}
        <a class="next0" href="{{ site.url }}{{ site.baseurl }}{{ articles[nextIndex].url }}">{{ articles[nextIndex].title }} &raquo;</a>
      {% elsif currIndex < articleIndexLength and currIndex != 0 %}
        <a class="prev" href="{{ site.url }}{{ site.baseurl }}{{ articles[prevIndex].url }}">&laquo; {{ articles[prevIndex].title }}</a>
        <a class="next" href="{{ site.url }}{{ site.baseurl }}{{ articles[nextIndex].url }}">{{ articles[nextIndex].title }} &raquo;</a>
      {% elsif currIndex == articleIndexLength %}
        <a class="prev" href="{{ site.url }}{{ site.baseurl }}{{ articles[prevIndex].url }}">&laquo; {{ articles[prevIndex].title }}</a>
      {% endif %}
    </div>
  {% endif %}
{% endfor %} #}
