<nav id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Rite of Spring</a>  
    <ul id="mySidebarList">
    {% for item in site.data.navigation.items %}
      <div id="SidebarLink">
        <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %} onclick="closeNav()">
          <h5>{{ item.range }}</h5>
          <h4>{{ item.name }}</h4>
          <h3>{{ item.chapter }}</h3>
        </a>
      </div>
    {% endfor %}
    </ul>
</nav>

<div id="sidebar_main">
  <button class="openbtn" onclick="openNav()">Rite of Spring</button>
</div>

{% include chapter_navigator.html %} 