<div class="e_subblock entry_div" id="entry_sb_{{ post.entry_number }}">
    {% if post.component_type == 'quote_1' 
          or post.component_type == 'quote_3'
          or post.component_type == 'quote_4' %}
        {% include entry_media.html %}
        <div class="e_header">
            <h2 class="e_title">{{ post.title }}</h2>
            {% include entry_metadata.html %}
        </div>
        <div class="content_div">{{ post.content }}</div>
    {% elsif post.component_type == 'quote_2' %}
        <!-- Content Column -->
        <div class="content_column">
            <div class="e_header">
                <h2 class="e_title">{{ post.title }}</h2>
                {% include entry_metadata.html %}
            </div>
            <div class="content_div">{{ post.content }}</div>
        </div>
        <!-- Image Column -->
        <div class="img_column">{% include entry_media.html %}</div>
    {% endif %}
</div>