@import "_variables";
@import "_typography";
@import "_styles";

// post specific CSS
#entry_0 {
    background-color: #041E15;
    p, h1, h2, h4, h5, a, blockquote {
        color: $color-dust-storm;
    }
    #entry_0_img {
        position: absolute;
        margin-left: 25vw;
        margin-top: 15vh;
        width: 52rem;
        img {
            background-color: $color-dust-storm;
            background-blend-mode: multiply;    
        }
    }
}

#entry_1 {
    column-count: 1;
    background-color: $color-pampas;
    background-image: url('/assets/svg/entry_1_scribble.svg');
    background-repeat: no-repeat;
    background-size: 362px;
    background-position: 64% 4%;
    .content_div {
        column-count: 1;
    }
    img {
        height: 64px;
        width: 64px;
        display: none; // Set because of a mystery 2nd image
    }
    #entry_1_img img {
        display: block;
        mix-blend-mode: multiply;
        margin-left: 50%;
    }
    blockquote {
        margin-left: 0;
    }
}

#entry_2 {
    background-color: #373C37;
    padding-right: 20px;
    margin-right: 50px;
    #entry_2_img {
        background-image: url(/assets/uploads/2_2_quote.jpg);
        background-color: $color-dust-storm;
        background-blend-mode: multiply;
        background-size: 400px;
        background-repeat: no-repeat;
        position: absolute;
        margin-left: 7vw;
        margin-top: 7vh;
    }
    #entry_sb_2 {
        img {
            width: 400px;
        }
    }
    .interaction-box {
        background-image: url(/assets/svg/asterisk.svg);
        background-repeat: no-repeat;
    }
    .e_subblock {
        mix-blend-mode: difference;
        h2, h5, h4, p {
            color: $color-white;
        }
        .time {
            -webkit-text-fill-color: $color-black;
            -webkit-text-stroke-color: $color-white;
            -webkit-text-stroke-width: 1px;
        }
        border-left: 1px solid $color-white;
        .marquee {
            display: none;
            position: absolute;
            margin: 0;
            top: 0;
            margin-left: 425px;
            background-color: red;
            width: 50px;
            height: 100vh;
            transform: rotate(-90deg);
            span {
                
                margin: 0;
                display: inline-block;
                white-space: nowrap;
                animation: floatText 25s infinite linear;
                padding-left: 100%; /*Initial offset*/
                animation-play-state: paused; // change this to render animation
            }
        }
        .marquee:hover  {
            animation-play-state: paused;
        }
        @keyframes floatText {
            to {
                transform: translateX(-100%);
            }
        }
    }
    border-right: 20px solid $color-dust-storm;
}


#entry_3 {
    .img_div {
        width: 640px;
        height: 800px;
        position: absolute;
        margin-left: 800px;
    }
    .content_div blockquote {
        margin: 0;
    }
    .interaction-box {
        background-image: url(/assets/svg/asterisk.svg);
        background-repeat: no-repeat;
    }
    .interaction-box-inline {
        @include interaction-box-boilerplate-inline();
        background-image: url(/assets/svg/asterisk.svg);
        background-repeat: no-repeat;
    }
    #entry_sb_3_img2 {

    }
}

#entry_4 {
    background-color: $color-muted-pink;
    position: relative;
    padding: 0px;
    margin-left: -200px;
    margin-top: 9.375em;
    max-height: 48em;
    min-width: 42em;
    max-width: 50em;
}

#entry_5 {
    background-color: $color-pampas;
    padding-left: 0px;
    margin-left: -466px;
    .e_subblock {
        margin: 0px;
    }
}
