@import "_variables";
@import "_typography";

// post specific CSS
#entry_0 {
    background-color: #041E15;
    p, h1, h2, h4, h5, a, blockquote {
        color: $color-dust-storm;
    }
    img {
        width: 20%;
    }
}

#entry_1 {
    column-count: 1;
    background-color: $color-pampas;
    .content_div {
        column-count: 1;
    }
}

#entry_2 {
    background-color: #373C37;
    padding-right: 20px;
    margin-right: 50px;
    .e_subblock {
        mix-blend-mode: difference;
        h2, h5, h4, p {
            color: $color-white;
        }
        .time {
            -webkit-text-fill-color: $color-black;
            -webkit-text-stroke-color: $color-white;
            -webkit-text-stroke-width: 1px;
        }
        border-left: 1px solid $color-white;
        // .marquee {
        //     display: block;
        //     position: absolute;
        //     margin-left: -55px;
        //     background-color: $color-white;
        //     color: $color-black;
        //     mix-blend-mode: normal;
        //     transform: rotate(-90deg) translateX(-50%);
        //     animation: marquee-left 15s linear infinite;
        //     span {
                
        //     }
        // }
    }
    border-right: 20px solid $color-dust-storm;
}
@keyframes marquee-left {
    0%   { 
        transform: rotate(-90deg) translateX(100%); 		
    }
    100% { 
        transform: rotate(-90deg) translateX(-100%); 
    }
}

#entry_3 {
    .img_div {
        width: 640px;
        height: 800px;
        position: absolute;
        margin-left: 800px;
    }
}

#entry_4 {
    background-color: $color-muted-pink;
    position: relative;
    padding: 0px;
    margin-left: -200px;
    margin-top: 9.375em;
    max-height: 48em;
}

#entry_5 {
    background-color: $color-pampas;
    padding-left: 0px;
    margin-left: -466px;
    .e_subblock {
        margin: 0px;
    }
}
