@import "_variables";
@import "_typography";

// splash
.splash_bg {
  height: 100vh;
  width: 100vw;
  background-color: $color-pampas;
  // padding: 64px;
}

.splash_gradient {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0) 90%, rgb(255, 255, 255) 100%);
}

.splash_overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash_border {
  width: 100vw;
  height: 100vh;
  position: absolute;
  border-style: solid;
  border-color: white;
  border-width: 64px;
}

.splash_content {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100vw;
  // background-color: red;
  padding: 10vh;
  padding-left: 25%;
  padding-right: 0%;
  
  h3, h5 {
    margin: 0;
  }
  .splash_metadata {
    position: absolute;
    bottom: 10vh;
  }
}

#splash_next_content {
  overflow: hidden;
}

.splash_text {
  z-index: 1;
  height: 100%;
  border-left: 1px solid $color-black;
  padding-left: 2%;
  margin: 0;
}

.splash_svg img {
  margin-top: 25px;
  width: 100%;
}

.splash_image {
  position: absolute;
  z-index: -1;
  top: 0;
}

.splash_button {
  position: absolute;
  z-index: 101;
  background-color: $color-chartreuse;
  text-decoration: none;
  padding: 1em 8em;
  h3 {
    margin: 0;
  }
}

// SPECIFIC ENTRIES
#splash-1 {
  left: 45vw;
  height: 105%;
}

#splash-svg-1 {
  margin-left: -26vw;
}

#splash-2 {
  left: -14vw;
  top: -26vw;
  height: 100vw;
  width: auto;
}

#splash-3 {
  left: 45vw;
  height: 105%;
}

#splash-svg-3 {
  margin-left: -27vw;
}

#splash-4 {
  left: 49vw;
  top: 10vh;
  height: 80%;
}

#splash-svg-4 {
  margin-left: -30vw;
  width: 150%;
}

#splash-5 {
  left: 49vw;
  top: -10vh;
  height: 110%;
}

#splash-svg-5 {
  margin-left: -33.5vw;
  width: 150%;
}

#splash-6 {
  left: 10vw;
  top: 10vh;
  height: 90%;
  // z-index: 0;
}

#splash-svg-6 {
  margin-left: -28vw;
  width: 130%;
}

#splash-7 {
  right: 0vw;
  top: 10vh;
  height: 90%;
  // z-index: 0;
}

#splash-svg-7 {
  margin-left: -21vw;
  width: 120%;
}