// g
* {
  box-sizing: border-box;
  cursor: url('/assets/svg/std_cursor.svg'), auto;
  ::selection {
    background: rgba(219, 255, 0, 0.5);
  }
}

.interaction-box {
  display: none;
}

//style mixins
@mixin VR_left {
  padding-left: 25px;
  border-left: 1px solid $color-black;
}
@mixin ImgAfter_Grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 25px;
  grid-row-gap: 0px;
}
@mixin ImgAfter_Grid2 {
  display: grid;
  grid-template-columns: 34em 34em 34em 34em 1fr;
  grid-template-rows: auto auto 600px auto;
}

// font mixins

@mixin lightFont($fontColor) {
  p, h1, h2, h3, h4, h5, a, span, blockquote {
    color: $fontColor;
    font-family: serif;
  }

  p {
    line-height: 1.5rem;
    font-size: 1.125rem;
  }
  .entry_div {
    a:hover {
      color: black;
    }
  }
  
}

// page
body {
  background-color: white;
  margin: 0px;
}

// hor scroll
// https://redstapler.co/pure-css-horizontal-scrolling-website-tutorial/#:~:text=First%20we%20will%20create%20a,is%20in%20the%20right%20position.
@mixin block_width {
  width: 60%;
  // padding: 64px 50px;
}

.e_block {
  @include block_width;
  padding-left: 50px;
  padding-right: 50px;

  // will need to update the padding accordingly for all blocks as we progress
  padding-top: 64px; 
  padding-bottom: 64px;

  min-height: 600px;
  max-height: 100vh;

  position: relative;

  display: flex;
  align-items: center;

  /*TO-DO: Update image specific formats to be less egregiously big?? Consider compression*/
  img {
    object-fit: cover;
    width: 100%;
  }

  /* As we can't check with elements hold which background color via SCSS, I've opted to just have the
  * bg color be determined here.
  */
  /** TO-DO
  *  Update the darker bg color logic to change up the color of the font text; it works but there are edge cases rn
  */
  &.gladeGreen { background-color: $color-glade-green; }

  &.pampas { background-color: $color-pampas; }

  &.greenWhite { background-color: $color-green-white; }

  &.flaxSmoke { background-color: $color-flax-smoke; }

  &.greenSmoke { background-color: $color-green-smoke; }

  &.whiteRock { background-color: $color-white-rock; }

  &.dustStorm { background-color: $color-dust-storm; }

  &.mutedPink { background-color: $color-muted-pink; }

  &.heavyMetal {
    // not &.xs_2-2 {
    //   @include lightFont($color-off-white);
    // }
    &.xs_2-2 {
      @include lightFont($color-black);
    }
    @include lightFont($color-off-white);
    background-color: $color-heavy-metal; 
  }

  &.holly { 
    not &.xs_2-2 {
      @include lightFont($color-off-white);
    } 
    // will need to add .pink or additional class conditional to change font to light pink when wanted
    background-color: $color-holly; 
    @include lightFont($color-off-white);
  }

  &.gunMetal { 
    not &.xs_2-2 {
      @include lightFont($color-off-white);
    } 
    background-color: $color-gun-metal;
  }

  &.sepia { background-color: $color-sepia; }

  &.kangaroo { background-color: $color-kangaroo; }

  &.eagle { background-color: $color-eagle; }

  &.white {
    background-color: $color-white;
  }

  &.gray {
    background-color: $color-gray;
  }

  &.black {
    @include lightFont($color-off-white);
    background-color: $color-black;
  }
}

.e_subblock {
  padding-left: 25px;
  height: inherit;
  // max-height: 725px; need to recalculate based on other posts/post sizes

  a:hover {
    background-color: $color-chartreuse;
    transition: all 0.5s linear;
  }
}

.outer-wrapper {
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  .wrapper {
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
}

@mixin interaction-box-boilerplate($image) {
  display: block;
  width: 2.8125em;
  height: 2.8125em;
  margin-top: 0.25em;
  margin-left: 0.25em;
  background-color: $color-chartreuse;
  background-image: url($image);
  background-position: center center;
}

@mixin interaction-box-boilerplate-inline {
  @include interaction-box-boilerplate('/assets/svg/asterisk.svg');
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  background-size: 50%;
  margin-left: 0em;
}

@mixin fade-out($direction) {
  -webkit-mask-image: linear-gradient(to $direction, black 90%, transparent 100%);
  mask-image: linear-gradient(to $direction, black 90%, transparent 100%);
}

.img_div {
  .interaction-box {
    position: absolute;
  }

  &.draggable {
    position: absolute;
    width: max-content;
  }
}

a {
  .interaction-box {
    @include interaction-box-boilerplate('/assets/svg/asterisk.svg');
  }
}

::-webkit-scrollbar {
  display: none;
}

// general post css
.e_metadata {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 0px;
  .location {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .time {
    margin: 0;
  }
  .date {
    margin-right: 1px;
  }
}

.img {
  display: block;
}

.chap_video {
  display: block;
  width: 100%;
}

// post size classes
.X-Small {
  // background-color: $color-white;
  // display: flex;
  // min-width: 450px;
  // max-width: 450px;
  // .e_subblock {
  //   width: 70%;
  //   margin: 20px;
  // }
  // .entry_div {
  //   align-self: flex-start;
  // }
  p {
    @include p-serif();
  }
  ul {
    display: none;
  }
}

.Small {
  
  // .e_subblock {
  // margin-left: 25px;
  // }
  .entry_div {
    display: grid;
    grid-template-columns: 21.5em 17em;
    grid-template-rows: auto 45px auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    .img_div {
      grid-column: 2;
      grid-row: 1 / 5;
      padding-left: 50px;
      border-left: 1px solid $color-black;
      img {
        height: auto;
      }
    }
    .e_title,
    .e_metadata,
    .content_div {
      grid-column: 1;
    }
  }
}

.Medium {
  // background-color: $color-heavy-metal;
  mix-blend-mode: difference;
  max-width: $medium-entry;
  min-width: $medium-entry; // from Figma entry design
  // h2 {
  //   column-count: 1;
  //   column-span: 1;
  // }
  // .entry_div {
  //   margin-left: 25px;
  //   // .content_div {
  //   //   height: 500px;
  //   //   column-count: 2;
  //   //   column-gap: 25px;
  //   //   column-fill: auto;
  //   // }
  // }
  // p {
  //   @include p-serif();
  // }
}

.Large {
  // background-color: blue;
  //max-width: $large-entry;
  // min-width: $large-entry; // from Figma entry design
  // .entry_div {
    // margin-left: 25px;
  // }
  // .content_div {
  //   column-count: 3;
  //   column-gap: 25px;
  //   column-fill: auto;
  // }
}

.X-Large {
  // background-color: $color-green-smoke;
  // max-width: $xlarge-entry;
  // min-width: $xlarge-entry;
  // .content_div {
  //   column-count: 4;
  //   column-gap: 25px;
  //   column-fill: auto;
  // }
}

/* COMMON COMPONENT STYLING */
.xs {
  // single column
  &_1 {
    border-left: $color-black;
    min-width: $xsmall-entry;
    max-width: $xsmall-entry;
  }

  &_2 {
    // body + photo
    &-1 {
      .content_div {
        img {
          max-height: 300px;
        }
      }
    }

    // large text quote
    &-2 {
      .content_div {
        blockquote {
          line-height: 2.75rem;
          margin: 30px 0;
        }
      }
    }

    // common styling for xs components
    &-1,
    &-2 {
      .entry_div {
        background-color: $color-off-white;
        height: 100%;
        width: 100%;
        padding: 50px 50px 25px 50px;
        border-radius: 50% 50% 0 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .e_title {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          align-items: center;

          img {
            width: 60px;
            height: auto;
            margin: 20px 0;
          }
        }
        .content_div {
          min-width: 700px;
          max-width: 700px;
        }
      }
    }
  }

  // body + png
  &_1, &_3 {
    min-width: $xsmall-entry;
    max-width: $xsmall-entry;
  }

  .entry_div {
    height: 100%;
  }
}

.s {
  // scrollable
  &_1 {
    // min-width: $small-entry;
    // max-width: $small-entry;

  }

  // tap-to-rotate
  &_2 {
    background-color: $color-muted-pink;
  }

  // draggable
  &_3 {
    &.draggable {
      width: 800px;
      height: fit-content;
      position: absolute;
    }
    .interaction-box {
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }

  // paper, pull-up | large text quote | large text quote + png
  &_4 {
    background-color: $color-steel;
  }

  // click-to-scroll
  &_5, &_1 {
      display: flex;
      max-width: 600px;
      min-width: 600px;
      .entry_div {
        @include fade-out(bottom);
        border-left: 1px solid $color-black;
        max-height: 80vh;
        overflow: scroll;
      }
  }
}

.m {
  // body + photo after
  &_1 {
    min-width: $large-entry;
    max-width: $large-entry;

    &.e_block {
      padding: 0;

      .e_subblock {
        &.entry_div {
          border-left: 1px solid $color-black;
          margin: 64px 50px;
          width: 60%;
          .content_div {
            column-count: 2;
            column-gap: 25px;
            column-fill: auto;
          }
        }
        &--img-after {
          height: 100%;
          width: 40%;
          img[id*=A] {
            height: 100%;
          }
        }
      }
    }
  }

  // body + time before
  &_2 {
    min-width: $medium-entry;
    max-width: $medium-entry;
    background-color: $color-gun-metal;
    color: $color-hushed-pink;
    .entry_div {
      border-left: 1px solid $color-hushed-pink;
    }
  }

  // centered body + photo | scrollable body + png | recolor + frame
  &_3 {
    min-width: $medium-entry;
    max-width: $medium-entry;
    // align-items: flex-end; may want to adjust this due to the way it's sitting on the laptop

    .centered-wrapper {
      // @include lightFont($color-off-white);
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-left: 1px solid $color-hushed-pink;
      padding: 30px 0;

      &.framed {
        background-color: $color-dust-storm;
      }

      img {
        &[id*=C],&[id*=D] {
          height: 275px;
          width: 570px;
          margin-top: 40px;
          img {
            height: 100%;
          }
        }
        &[id*=D] img {
          object-fit: fill;
        }
      }

      .content_div {
        @include fade-out(bottom);
        padding: 0 40px;
        height: 150px;
        overflow: scroll;
        // &:after {
        //   content: "";
        //   @include interaction-box-boilerplate('/assets/svg/chevron-down.svg');
        //   border: 3px solid red;
        // }
      }
    }    
  }
}

.l {

  &_1 {
    max-width: $large-entry;
    min-width: $large-entry;

    .content_div {
      column-count: 3;
      column-gap: 25px;
      column-fill: auto;
    }

    &.ImgAfter {
      max-width: $large-entry-after;
      min-width: $large-entry-after;

      &.e_block {
        padding: 0;
        .e_subblock {
          width: 40%;
          padding: 64px 30px;
          .content_div {
            column-count: 2;
            column-gap: 25px;
            column-fill: auto;
          }
          &--img-after {
            width: 60%;
          }
        }
      }
    }
  }

  // body + background image
  &_2 {
    max-width: $large-entry;
    min-width: $large-entry;
    .entry_div {
      position: absolute;
      bottom: 0;
      width: 600px;
      height: 700px;
      background-color: #f2f0f2;
      overflow: scroll;
      padding: 30px;
      // column-count: 1;
      // column-gap: 25px;
      // column-fill: auto;
    }
  }

  &_1,&_2 {
    .entry_div {
      margin-left: 25px;
      border-left: 1px solid $color-black;
    }
  }
}

.xl {
  max-width: $xlarge-entry;
  min-width: $xlarge-entry;
  // body only | extra long opt.
  &_1 {
    max-width: $xlarge-entry;
    min-width: $xlarge-entry;
    // body + img after
    &.ImgAfter {
      max-width: $xlargelong-entry;
      min-width: $xlargelong-entry;

      &.e_block {
        padding: 0;

        .e_subblock {
          border-left: solid 1px $color-black;
          width: 45%;
          margin: 0 20px;
          .content_div {
            column-count: 3;
            column-gap: 25px;
            column-fill: auto;
          }
          &--img-after {
            width: 55%;
            height: 100%;
          }
        }
      }
    }

    .content_div {
      column-count: 4;
      column-gap: 25px;
      column-fill: auto;
    }

    &.ExtraLong {
      min-width: $xlargelong-entry;
      max-width: $xlargelong-entry;
      
      .content_div {
        column-count: 7;
        column-gap: 25px;
        column-fill: auto;
      }
    }
  }
}

.lyrics {
  @include lightFont($color-off-white);
  
  background: $color-heavy-metal;
  min-width: $xsmall-entry;
  max-width: $xsmall-entry;
  .e_subblock { // re-visit and fix overarching e-subblock padding issue
    padding: 0;
  }
  .entry_div {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
      margin: 20px 0 10px;
    }
    
    .content_div {
      max-height: 100vh;
      overflow: scroll;
      @include fade-out(bottom);
    }
  }
}

.quote {
  // std. quote + detail png | sm., lg. quote + png overlay
  &_1 {
    min-width: $medium-entry;
    max-width: $medium-entry;
    &.e_block {
      padding: 150px 120px;
      .e_subblock {
        border-left: 1px solid $color-black;
      }
    }
  }

  // lg. quote + img after
  &_2 {
    min-width: $large-entry;
    max-width: $large-entry;
    
    .e_subblock {
      width: 100%;
      height: 100%;
      display: flex;
      border-left: 1px solid $color-black;
      flex-direction: row;
      position: relative;
      .content_column {
        width: 50%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .e_header {
          display: flex;
          flex-direction: row;
          align-items: baseline;

          .e_title {
            margin-right: 20px;
            text-transform: uppercase;
          }

          .e_title,
          .e_metadata h4,
          .e_metadata h5 {
            color: $color-black;
            font-size: 0.75em;
            font-family: sans-serif;
          }
      
        }
        .content_div {
          p {
            font-size: 4.75em;
            line-height: 1em;
            span.blackletter {
              font-size: inherit;
              line-height: inherit;
            }
          }
          p:last-child {
            color: $color-black;
            font-size: 0.75em;
            font-family: sans-serif;
          }
        }
      }
      .img_column {
        width: 50%;
      }
    }
  }

  // lined quote + png
  &_3 {
    min-width: 70em;
    max-width: 70em;
    position: relative;

    .e_subblock {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid $color-black;
    padding-top: 20px;

      img {
        position: absolute;
      }

      .content_div {  
        p {
          font-size: 4em;
          line-height: 1em;
          // text-decoration: underline;
          // text-decoration-thickness: 1px;

          span.blackletter {
            font-size: inherit;
            line-height: inherit;
          }
        }
        p:last-child {
          color: $color-black;
          font-size: 0.75em;
          font-family: sans-serif;
          text-decoration: none;
        }
      }
    }
  }

  &_4 {
    // lg. text quote, pull paper up
    background-color: $color-pampas;
  }
}

// post custom classes
.Reflect {
  text-align: right;
  p {
    @include p-serif();
  }
  img {
    mix-blend-mode: multiply;
  }
  .e_block {
    padding-right: 50px;
  }
  .e_subblock {
    border-left: none;
  }
  .e_metadata {
    flex-direction: row-reverse;
    .date {
      margin-left: 5px;
    }
  }
}

.BigSpace {
  width: 100%;
  min-width: 800px;
  max-width: 1000px;
  .e_subblock {
    padding: 25% 10% 25% 25%;
    width: 80%;
    .entry_div {
      align-self: flex-end;
    }
  }
  // .spinner {
  //     margin-left: -400px;
  //     margin-top: -100px;
  //     transform: translate(45deg);
  // }
  // ul {
  //     @include p-sans();
  //     font-size: 2.5rem;
  //     color: #888;
  //     display: block;
  //     margin: 100px;
  //     list-style: none;
  //     transform-style: preserve-3d;
  //     animation: three-dimensions-circle 5s linear 10s; //change 10s back to infinite to unfuck this
  //   }
  //   li {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //   }
  //   $char: 14;
  //   @for $i from 1 through $char {
  //     li:nth-child(#{$i}) {
  //       transform: translate(-50%, -50%) rotate(#{$i * (360/$char) - (360/$char)}deg) translateY(-100px) rotateX(90deg);
  //     }
  //   }
  //   @keyframes three-dimensions-circle {
  //     0% {
  //       transform: rotateX(-70deg) rotateY(-35deg) rotate(0);
  //     }
  //     100% {
  //       transform: rotateX(-70deg) rotateY(-35deg) rotate(-360deg);
  //     }
  //   }
}

.BigTime {
  padding-left: 265px; // width of BigTime text (approx. 205px)
  .content_div {
    margin-top: 40px;
  }
  .entry_div {
    @include VR_left();
    .e_metadata {
      margin: 0px;
      height: 25px;
      margin-top: -98px;
      padding-bottom: 100px;
      .time {
        position: relative;
        left: -300px;
        margin-top: -20px;
        span {
          &::after {
            content: '';
            display: block;
          }
        }
        font-size: 11.25rem;
        line-height: 9rem;
        -webkit-text-fill-color: $color-white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $color-black;
        .time_colon {
          margin: -2rem;
          animation: blink 3s step-start infinite;
        }
      }
      .location {
        margin-left: -205px;
        margin-top: -100px;
      }
    }
  }
}

@keyframes blink {
  20% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

.AlignEntryCenter {
  max-width: 800px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .entry_div {
    display: grid;
    flex-direction: column;
    .e_title {
      order: 1;
      padding-bottom: 50px;
    }
    .e_metadata {
      justify-content: center;
      order: 3;
    }
    .content_div {
      column-count: 1;
      order: 4;
    }
    .img_div {
      order: 2;
      padding-bottom: 10px;
      img {
        width: 316px;
        height: 275px;
        object-fit: cover;
      }
    }
  }
}

// .ImgAfter {
//   .entry_div {
//     // @include ImgAfter_Grid1;
//     .img_div,
//     .chap_video {
//       grid-column: 2;
//       grid-row: 1 / 5;
//       margin-top: -$wrapper-padding;
//       background-color: $color-white-rock;
//       img,
//       video {
//         height: 100vh;
//         width: auto;
//         mix-blend-mode: multiply;
//       }
//     }
//     .e_title,
//     .e_metadata,
//     .content_div {
//       grid-column: 1;
//     }
//     .content_div {
//       column-count: 2;
//     }
//   }
// }
.Scatter {
  background-color: $color-muted-pink;
  height: 100vh;
  min-width: 360px;
  overflow: hidden;
  position: relative;
  .e_subblock {
    border-left: none;
  }
  .entry_div {
    display: grid;
    grid-template-columns: 1fr;
    .img_div {
      grid-column: 1;
      grid-row: 1 / 1;
    }
  }
}

.draggable,
.draggable2,
.draggable3 {
  z-index: 10;
  touch-action: none; // required by interactjs
  user-select: none; // required by interactjs
  .interaction-box {
    @include interaction-box-boilerplate('/assets/svg/draggable.svg');
  }
}

.img_hidden {
  display: none;
  width: 0;
}

// .Rotate180 {
//     padding: 10em;
//     width: 20em;
//     margin-right: -50px;
//     background-color: none;
//     transition-property: background-color;
//     transition-duration: 1s;
//     .e_subblock {
//         width: 20em;
//     }
//     .entry_div {
//         display: grid;
//         grid-template-columns: 1fr;
//         .img_div {
//             grid-column: 1;
//             grid-row: 1 / 1;
//         }
//     }
// }
