// g
* {
  box-sizing: border-box;
  cursor: url('/assets/svg/std_cursor.svg'), auto;
}

.interaction-box {
  display: none;
}

//style mixins
@mixin VR_left {
  padding-left: 25px;
  border-left: 1px solid $color-black;
}
@mixin ImgAfter_Grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 25px;
  grid-row-gap: 0px;
}
@mixin ImgAfter_Grid2 {
  display: grid;
  grid-template-columns: 34em 34em 34em 34em 1fr;
  grid-template-rows: auto auto 600px auto;
}

// font mixins

@mixin lightFont {
  p, h1, h2, h4, h5, a, blockquote {
    color: $color-white;
    font-family: serif;
  }

  p {
    line-height: 1.5rem;
    font-size: 1.125rem;
  }
}

// page
body {
  background-color: white;
  margin: 0px;
}

// hor scroll
// https://redstapler.co/pure-css-horizontal-scrolling-website-tutorial/#:~:text=First%20we%20will%20create%20a,is%20in%20the%20right%20position.
@mixin block_width {
  width: 60%;
}

.e_block {
  @include block_width;
  padding-left: 50px;
  padding-right: 50px;

  // will need to update the padding accordingly for all blocks as we progress
  padding-top: 64px; 
  padding-bottom: 64px;

  min-height: 600px;
  max-height: 100vh;

  display: flex;
  align-items: center;

  img {
    width: 100%;
  }
}

.e_subblock {
  padding-left: 25px;
  height: inherit;
  // max-height: 725px; need to recalculate based on other posts/post sizes
}

.outer-wrapper {
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  .wrapper {
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
}

@mixin interaction-box-boilerplate {
  display: block;
  width: 2.8125em;
  height: 2.8125em;
  margin-top: 0.25em;
  margin-left: 0.25em;
  background-color: $color-chartreuse;
  background-image: url(/assets/svg/draggable.svg);
  background-position: center center;
}

@mixin interaction-box-boilerplate-inline {
  @include interaction-box-boilerplate();
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  background-size: 50%;
  margin-left: 0em;
}

.img_div {
  .interaction-box {
    position: absolute;
  }
}

a {
  .interaction-box {
    @include interaction-box-boilerplate();
    background-image: url(/assets/svg/asterisk.svg);
  }
}

::-webkit-scrollbar {
  display: none;
}

// general post css
.e_metadata {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 0px;
  .location {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .time {
    margin: 0;
  }
  .date {
    margin-right: 1px;
  }
}

.img {
  display: block;
}

.chap_video {
  display: block;
}

// post size classes
.X-Small {
  background-color: $color-white;
  display: flex;
  min-width: 450px;
  max-width: 450px;
  .e_subblock {
    width: 70%;
    margin: 20px;
  }
  .entry_div {
    align-self: flex-start;
  }
  p {
    @include p-serif();
  }
  ul {
    display: none;
  }
}

.Small {
  background-color: $color-white;
  // .e_subblock {
  // margin-left: 25px;
  // }
  .entry_div {
    display: grid;
    grid-template-columns: 21.5em 17em;
    grid-template-rows: auto 45px auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    .img_div {
      grid-column: 2;
      grid-row: 1 / 5;
      padding-left: 50px;
      border-left: 1px solid $color-black;
      img {
        height: auto;
      }
    }
    .e_title,
    .e_metadata,
    .content_div {
      grid-column: 1;
    }
  }
}

.Medium {
  // background-color: $color-heavy-metal;
  mix-blend-mode: difference;
  max-width: $medium-entry;
  min-width: $medium-entry; // from Figma entry design
  // h2 {
  //   column-count: 1;
  //   column-span: 1;
  // }
  // .entry_div {
  //   margin-left: 25px;
  //   // .content_div {
  //   //   height: 500px;
  //   //   column-count: 2;
  //   //   column-gap: 25px;
  //   //   column-fill: auto;
  //   // }
  // }
  // p {
  //   @include p-serif();
  // }
}

.Large {
  // background-color: blue;
  max-width: $large-entry;
  min-width: $large-entry; // from Figma entry design
  .entry_div {
    margin-left: 25px;
  }
  .content_div {
    column-count: 3;
    column-gap: 25px;
    column-fill: auto;
  }
}

.X-Large {
  background-color: $color-green-smoke;
  max-width: $xlarge-entry;
  min-width: $xlarge-entry;
  .content_div {
    column-count: 4;
    column-gap: 25px;
    column-fill: auto;
  }
}

/* COMMON COMPONENT STYLING */
.xs {
  &_1 {
    border-left: $color-black;
  }

  &_2 {
    &-1,
    &-2 {
      background-color: $color-hunter-green;
    }

    &-3 {
      background-color: $color-dust-storm;
    }

    &-1,
    &-2,
    &-3 {
      .entry_div {
        background-color: $color-off-white;
      }
    }
  }

  &_3 {
    background-color: $color-pampas;
  }

  .entry_div {
    height: 100%;
  }
}

.s {
  &_1 {
    background-color: $color-steel;
  }

  &_2 {
    background-color: $color-muted-pink;
  }

  &_3 {
    background-color: $color-muted-pink;
  }

  &_4 {
    background-color: $color-steel;
  }
}

.m {
  &_1 {
    background-color: $color-flax-smoke;

    .entry_div {
      border-left: 1px solid $color-black;
    }
  }

  &_2 {
    background-color: $color-coal;
    color: $color-hushed-pink;
    .entry_div {
      border-left: 1px solid $color-hushed-pink;
    }
  }

  &_3 {
    background-color: $color-hunter-green;

    &.framed {
      background-color: $color-dust-storm;
    }

    .e_subblock.entry_div {
      text-align: center;
      display: flex;
      flex-direction: column;
      border-left: 1px solid $color-dust-storm;

      .e_title {
        order: 1;
        color: $color-dust-storm;
      }
      .e_metadata {
        order: 2;
        justify-content: center;
        color: $color-dust-storm;
      }
      .img_div {
        order: 3;
      }
      .content_div {
        order: 4;
        p {
          color: $color-dust-storm;
        }
      }
    }
  }
}

.l {
  &_1 {
    background-color: $color-kangaroo;
  }

  &_2 {
    background-color: $color-green-smoke;
  }

  &_1,&_2 {
    .entry_div {
      border-left: 1px solid $color-black;
    }
  }
}

.xl {
  &_1 {
    background-color: $color-green-smoke;
  }
}

.lyrics {
  @include lightFont();
  background: $color-heavy-metal;
}

.quote {
  &_1 {
    .e_subblock {
      border-left: 1px solid $color-black;
    }
  }

  &_2 {
    min-width: 70em;
    max-width: 70em;
    
    .e_subblock {
      width: 100%;
      height: 100%;
      display: flex;
      border-left: 1px solid $color-black;
      flex-direction: row;
      .e_title {
        color: $color-coal;
        font-size: 0.75em;
        font-family: sans-serif;
      }
      .content_div {
        p {
          font-size: 4em;
          line-height: 1em;
          span.blackletter {
            font-size: inherit;
            line-height: inherit;
          }
        }
        p:last-child {
          color: $color-coal;
          font-size: 0.75em;
          font-family: sans-serif;
        }
      }
    }
  }

  &_3 {
    min-width: 70em;
    max-width: 70em;
    position: relative;

    .e_subblock {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid $color-black;
    padding-top: 20px;

      .img_div {
        position: absolute;
      }

      .content_div {  
        p {
          font-size: 4em;
          line-height: 1em;
          text-decoration: underline;
          text-decoration-thickness: 1px;

          span.blackletter {
            font-size: inherit;
            line-height: inherit;
          }
        }
        p:last-child {
          color: $color-black;
          font-size: 0.75em;
          font-family: sans-serif;
          text-decoration: none;
        }
      }
    }
  }
}

// post custom classes
.Reflect {
  text-align: right;
  p {
    @include p-serif();
  }
  img {
    mix-blend-mode: multiply;
  }
  .e_block {
    padding-right: 50px;
  }
  .e_subblock {
    border-left: none;
  }
  .e_metadata {
    flex-direction: row-reverse;
    .date {
      margin-left: 5px;
    }
  }
}

.BigSpace {
  width: 100%;
  min-width: 800px;
  max-width: 1000px;
  .e_subblock {
    padding: 25% 10% 25% 25%;
    width: 80%;
    .entry_div {
      align-self: flex-end;
    }
  }
  // .spinner {
  //     margin-left: -400px;
  //     margin-top: -100px;
  //     transform: translate(45deg);
  // }
  // ul {
  //     @include p-sans();
  //     font-size: 2.5rem;
  //     color: #888;
  //     display: block;
  //     margin: 100px;
  //     list-style: none;
  //     transform-style: preserve-3d;
  //     animation: three-dimensions-circle 5s linear 10s; //change 10s back to infinite to unfuck this
  //   }
  //   li {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //   }
  //   $char: 14;
  //   @for $i from 1 through $char {
  //     li:nth-child(#{$i}) {
  //       transform: translate(-50%, -50%) rotate(#{$i * (360/$char) - (360/$char)}deg) translateY(-100px) rotateX(90deg);
  //     }
  //   }
  //   @keyframes three-dimensions-circle {
  //     0% {
  //       transform: rotateX(-70deg) rotateY(-35deg) rotate(0);
  //     }
  //     100% {
  //       transform: rotateX(-70deg) rotateY(-35deg) rotate(-360deg);
  //     }
  //   }
}

.BigTime {
  padding-left: 265px; // width of BigTime text (approx. 205px)
  .content_div {
    margin-top: 40px;
  }
  .entry_div {
    @include VR_left();
    .e_metadata {
      margin: 0px;
      height: 25px;
      margin-top: -98px;
      padding-bottom: 100px;
      .time {
        position: relative;
        left: -300px;
        margin-top: -20px;
        span {
          &::after {
            content: '';
            display: block;
          }
        }
        font-size: 11.25rem;
        line-height: 9rem;
        -webkit-text-fill-color: $color-white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $color-black;
        .time_colon {
          margin: -2rem;
          animation: blink 3s step-start infinite;
        }
      }
      .location {
        margin-left: -205px;
        margin-top: -100px;
      }
    }
  }
}

@keyframes blink {
  20% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

.AlignEntryCenter {
  // background-color: green;
  max-width: 800px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .entry_div {
    display: grid;
    flex-direction: column;
    .e_title {
      order: 1;
      padding-bottom: 50px;
    }
    .e_metadata {
      justify-content: center;
      order: 3;
    }
    .content_div {
      column-count: 1;
      order: 4;
    }
    .img_div {
      order: 2;
      padding-bottom: 10px;
      img {
        width: 316px;
        height: 275px;
        object-fit: cover;
      }
    }
  }
}

// .ImgAfter {
//   .entry_div {
//     // @include ImgAfter_Grid1;
//     .img_div,
//     .chap_video {
//       grid-column: 2;
//       grid-row: 1 / 5;
//       margin-top: -$wrapper-padding;
//       background-color: $color-white-rock;
//       img,
//       video {
//         height: 100vh;
//         width: auto;
//         mix-blend-mode: multiply;
//       }
//     }
//     .e_title,
//     .e_metadata,
//     .content_div {
//       grid-column: 1;
//     }
//     .content_div {
//       column-count: 2;
//     }
//   }
// }
#entry_sb_12,
#entry_sb_12b,
#entry_sb_12c {
  background-color: $color-dust-storm;
  padding: 5em;
  position: absolute;
  width: 29em;
}
#entry_sb_12 {
  z-index: 5;
  transform: translate(-50px, 100px) rotate(-112deg);
  transition: 1s ease-in-out 1s;
}
#entry_sb_12:hover {
  transform: translate(-80px, 50px) rotate(0deg) scale(1.15);
  box-shadow: 11px 10px 85px -19px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
  // position: fixed;
}
#entry_sb_12b {
  z-index: 4;
  transform: translate(-50px, -200px) rotate(112deg);
}
#entry_sb_12c {
  z-index: 3;
  transform: translate(-50px, 500px) rotate(112deg);
}
.Scatter {
  background-color: $color-muted-pink;
  height: 100vh;
  min-width: 360px;
  overflow: hidden;
  position: relative;
  .e_subblock {
    border-left: none;
  }
  .entry_div {
    display: grid;
    grid-template-columns: 1fr;
    .img_div {
      grid-column: 1;
      grid-row: 1 / 1;
    }
  }
}

.draggable,
.draggable2,
.draggable3 {
  z-index: 10;
  touch-action: none; // required by interactjs
  user-select: none; // required by interactjs
  .interaction-box {
    @include interaction-box-boilerplate();
    background-image: url(/assets/svg/draggable.svg);
  }
}

.img_hidden {
  display: none;
  width: 0;
}

// .Rotate180 {
//     padding: 10em;
//     width: 20em;
//     margin-right: -50px;
//     background-color: none;
//     transition-property: background-color;
//     transition-duration: 1s;
//     .e_subblock {
//         width: 20em;
//     }
//     .entry_div {
//         display: grid;
//         grid-template-columns: 1fr;
//         .img_div {
//             grid-column: 1;
//             grid-row: 1 / 1;
//         }
//     }
// }
