
// scss color var
$color-black: #000000; //black
$color-white: #ffffff; //white

// fields
$color-glade-green: #667D65;
$color-pampas: #F3F2EA;
$color-green-white: #F2F5EF;
$color-green-smoke: #A5A463;
$color-flax-smoke: #807F61;
$color-white-rock: #EAE8D6;

// interaction pop
$color-chartreuse: #DBFF00;

// complement
$color-dust-storm: #E5CFD0;
$color-muted-pink: #C79B9A;
$color-sepia: #A15246;

// blacks
$color-heavy-metal: #232823;
$color-holly: #000503;

// aux
$color-kangaroo: #CBCABE;
$color-eagle: #C0BFA7;

// scss space var
$view-width: 80vw;
$medium-entry: 72em;
$large-entry: 108em;
$xlarge-entry: 143em;
$wrapper-padding: 9.375em;
