
// scss color var
$color-black: #000000; //black
$color-white: #ffffff; //white
$color-gray: #E2E2E2;
$color-off-white: #F8F7F5;

// fields
$color-glade-green: #667D65;
$color-hunter-green: #003321;
$color-pampas: #F3F2EA;
$color-green-white: #F2F5EF;
$color-green-smoke: #A5A463;
$color-flax-smoke: #807F61;
$color-white-rock: #EAE8D6;

// interaction pop
$color-chartreuse: #DBFF00;

// complement
$color-dust-storm: #E5CFD0;
$color-muted-pink: #C79B9A;
$color-hushed-pink: #C8C3C8;
$color-sepia: #A15246;

// blacks
$color-heavy-metal: #232823;
$color-holly: #000503;
$color-slate: #818181;
$color-steel: #E2E2E2;
$color-gun-metal: #373C37;

// aux
$color-kangaroo: #CBCABE;
$color-eagle: #C0BFA7;

// scss space var
$view-width: 80vw;
$medium-entry: 72em;
$large-entry: 108em;
$xlarge-entry: 143em;
$wrapper-padding: 9.375em;
