--- 
---

@import "main";

* {
    box-sizing: border-box;
}

h1 {
    font: Georgia, serif;
    color: black;
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font: sans-serif;
    color: black;
    font-size: 1.5rem;
}

h3 {
    font: Serif; // whatever h1 uses
    color: black;
    font-size: 2rem;
}

body {
    background-color: white;

    // font
    font: sans-serif;
    color: black;
    font-size: 1rem;
  }

///////
// https://redstapler.co/pure-css-horizontal-scrolling-website-tutorial/#:~:text=First%20we%20will%20create%20a,is%20in%20the%20right%20position.

.block {
    width: 100vw;
    height: auto;
    padding: 0px 60px;
    border-left: 2px solid black;
  }

.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}

::-webkit-scrollbar {
    display:none;
}