---
layout: default
---

{% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css">
  {% endfor %}
{% endif %}

<h1>{{ page.title }} | Rite of Spring</h1>

<p>
  {{ page.date | date_to_string }}
</p>

{% if page.file %}
    - <img src="{{ page.file }}" alt="alt test">
    {% if page.file_2 %}
      - <img src="{{ page.file_2 }}" alt="alt test">
        {% if page.file_3 %}
          - <img src="{{ page.file_3 }}" alt="alt test">
            {% if page.file_4 %}
              - <img src="{{ page.file_4 }}" alt="alt test">
                {% if page.file_5 %}
                  - <img src="{{ page.file_5 }}" alt="alt test">
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}

{{ content }}