---
layout: default
---

{% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css">
  {% endfor %}
{% endif %}

<h1>{{ page.title }}</h1>

<p>
  {{ page.date | date_to_string }}
  <!-- {% assign author = site.authors | where: 'name', page.author | first %}
  {% if author %}
    - <a href="{{ author.url }}">{{ author.display_name }}</a>
  {% endif %} -->
</p>

{% if page.file %}
    - <img src="{{ page.file }}" alt="alt test">
{% endif %}


{{ content }}